<h1>User #<%= @user.id %></h1>

<dl>
  <dt>First Name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last Name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>Phone</dt>
  <dd><%= @user.phone %></dd>

  <dt>Address</dt>
  <dd><%= @user.address %></dd>

  <dt>City</dt>
  <dd><%= @user.city %></dd>

  <dt>State</dt>
  <dd><%= @user.state %></dd>

  <dt>Zip</dt>
  <dd><%= @user.zip %></dd>

  <dt>Roast</dt>
  <dd><%= @user.roast %></dd>

  <dt>How do you make coffee?</dt>
  <dd><%= @user.make_coffee %></dd>

  <dt>How often do you drink coffee?</dt>
  <dd><%= @user.drink_coffee %></dd>

</dl>
